Options +FollowSymLinks 

RewriteEngine On


# Rewrite for index.php,cars.php,...

RewriteRule ^(home)$ index.php?page_name=$1
RewriteRule ^(services)$ services.php?page_name=$1
RewriteRule ^(dservices)$ dservices.php?page_name=$1
RewriteRule ^(sproducts)$ sproducts.php?page_name=$1
RewriteRule ^(products)$ products.php?page_name=$1
RewriteRule ^(dproducts)$ dproduct.php?page_name=$1
RewriteRule ^(manages)$ manage.php?page_name=$1
RewriteRule ^(brands)$ brand.php?page_name=$1
RewriteRule ^(clients)$ client.php?page_name=$1
RewriteRule ^(gallery)$ gallary.php?page_name=$1
RewriteRule ^(pages)$ page.php?page_name=$1
RewriteRule ^(cpages)$ cpage.php?page_name=$1
RewriteRule ^(contacts)$ contact.php?page_name=$1 
RewriteRule ^(news)$ new.php?page_name=$1 
RewriteRule ^(images)$ image.php?page_name=$1
RewriteRule ^(videos)$ video.php?page_name=$1 
RewriteRule ^(orders)$ order.php?page_name=$1 
RewriteRule ^(corders)$ corder.php?page_name=$1 
RewriteRule ^(porders)$ porder.php?page_name=$1 
RewriteRule ^(eorders)$ eorder.php?page_name=$1 
RewriteRule ^(dorders)$ dorder.php?page_name=$1 
RewriteRule ^(exporders)$ exporder.php?page_name=$1 
RewriteRule ^(allorders)$ allorder.php?page_name=$1 


RewriteRule ^(prints)$ print.php?page_name=$1 


# Rewrite for single variables

RewriteRule ^page-([^/]+)$ page.php?page_name=$1
RewriteRule ^services-([^/]+)$ services.php?service_name=$1
RewriteRule ^dservices-([^/]+)$ dservices.php?dservice_name=$1
RewriteRule ^sproducts-([^/]+)$ sproducts.php?sproduct_name=$1
RewriteRule ^products-([^/]+)$ products.php?product_name=$1
RewriteRule ^dproducts-([^/]+)$ dproduct.php?dproduct_name=$1
RewriteRule ^clients-([^/]+)$ client.php?client_name=$1
RewriteRule ^brands-([^/]+)$ brand.php?brand_name=$1
RewriteRule ^images-([^/]+)$ image.php?image_name=$1
RewriteRule ^videos-([^/]+)$ video.php?video_name=$1
RewriteRule ^gallery-([^/]+)$ gallary.php?gallery_name=$1
RewriteRule ^pages-([^/]+)$ page.php?pages_name=$1
RewriteRule ^cpages-([^/]+)$ cpage.php?cpage_name=$1
RewriteRule ^corders-([^/]+)$ corder.php?order_name=$1
RewriteRule ^porders-([^/]+)$ porder.php?order_name=$1
RewriteRule ^eorders-([^/]+)$ eorder.php?order_name=$1
RewriteRule ^dorders-([^/]+)$ dorder.php?order_name=$1
RewriteRule ^exporders-([^/]+)$ exporder.php?order_name=$1
RewriteRule ^allorders-([^/]+)$ allorder.php?order_name=$1

RewriteRule ^prints-([^/]+)$ print.php?order_name=$1



