body{
	font-family: Tahoma !important;
	font-weight: 100 !important;
	font-size: 16px;
}

.bgcolor{
	background-color: #fdd01f !important;
	color: #ffffff !important;
}
.textwhite{
	color:#fff !important;
}
#snackbar{
	background-color: #fdd01f !important;
	color: #ffffff !important;
}
.pbg {
    background: #ffffff;
    padding: 3rem 4rem;
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    -webkit-box-shadow: 5px 5px 15px #fdd01f;
    border-radius: 1.25rem;
}
.txtcolor{
color: #fdd01f !important;
}

li.bgcolor > a {
	color:#fff !important;
}
.bgdark{
	background: url('images/bgdark.png');
	background-size: contain;
}

a:hover{
	color: #000 !important;
}

.hoverwhite{
	color:#fff !important;
}
.hoverwhite:hover{
	color:#fff !important;
}

.slideimg{
	height: 645px !important;
	max-height: 645px !important;
}

#logo{
	margin-left: 45%
}

.proshow{
	position: relative;
	width: 100%
}


.icn {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: absolute;
	top: 1px;
	left: 1px;
	text-align: center;
	line-height: 50px;
	font-size: 10px;
	letter-spacing: 1px;
	z-index: 2;
}

.und{
	text-decoration: line-through;
}


.qbtn{
	background: none;
    border: 1px solid #bbbbbb;
    padding: 5px 10px;
}


.pbtn{
	background: none;
    border: 1px solid #bbbbbb;
    padding: 10px 10px;
    width: 100%
}

.size{
	background: none;
    border: 1px solid #bbbbbb;
    padding: 10px 10px;
}

table{
	margin:none !important;
}



#primary-menu ul li:hover > a, #primary-menu ul li.current > a{
	color:#000 !important;
}

#primary-menu ul > li {
    float: none !important;
    margin-left: 2px;
    display: inline-block !important;
}




@media (max-width: 576px) {  /*  Mobile Screen */
	.slideimg { 
		max-width: 540px; 
		height: 240px !important;
		max-height: 240px !important;
	}

	#logo{
		margin-left: 4%
	}

	.mobhide{
		display: none;
	}

	.mobdisplay{
		display: block !important;
	}
	#top-bar .col_half {
		display: none;
	}

	#header.sticky-style-2 #header-wrap, #header.sticky-style-3 #header-wrap {
		min-height: 0px;
	}



	.homeimg{
		width: 100%;
		height: 400px !important;

	}

	.proshow {
    position: absolute;
    bottom: -700px;
	
	}

	.mt {
    margin-top: 200%;
	}

}








#logo{
	margin-left: 45%
}

@media (max-width: 576px) {
	.slideimg { 
		max-width: 540px; 
		height: 240px !important;
		max-height: 240px !important;
	}
	#logo{
		margin-left: 4%
	}

	.mobhide{
		display: none;
	}

	.mobdisplay{
		display: block !important;
	}
	#top-bar .col_half {
		display: none;
	}

	#header.sticky-style-2 #header-wrap, #header.sticky-style-3 #header-wrap {
		min-height: 0px;
	}



	.homeimg{
		width: 100%;
		height: 400px !important;

	}


#primary-menu ul > li {
    display: block !important;
}

}





.sf-js-enabled{
	width: 100%;

}

.deskhide{
	display: none;
}

.deskdisplay{
	display: block;
}


#header.sticky-style-2 {
	height: 146px;
}
#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
	height: 42px;
}


.homeimg{
	width: 100%;
	height: 600px;
	opacity: 1;
	font-size: 8px;

	transition: linear 0.2s;

}

.homeimg:hover{
	opacity: 0.5;
	font-size: 5px;
}

.homebg{
	background: #ecbf0c;
	padding:6px;
	margin-bottom: 15px;
	font-size: 16px;
	transition: linear 0.2s;


}

.homebg:hover .hometext{
	font-size: 18px;

}


.hometext{
	color: black;
	padding:10px;
	font-weight: 200;
	transition: linear 0.2s;
	font-size: 16px;


}



.sale-item {
	color: #fff;
	background: #fdd01f;
}

.icn {
	-webkit-transition: opacity 1s ease-out;
	width: 50px;
	height: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 1px;
	left: 1px;
	text-align: center;
	line-height: 50px;
	font-size: 10px;
	letter-spacing: 1px;
	z-index: 2;
}

.portfolio-desc {

	text-align: center;
}

.portfolio-desc h3 a {
	color: #222;
	font-size: 15px;
	font-weight: 200;
}
.portfolio-desc span {
	display: block;
	margin-top: 3px;
	color: #fdd01f;
	font-size: 15px;
	font-weight: 100;
}
.und{
	text-decoration: line-through;;
}
#footer {
	position: relative;
	background-color: #EEE;
	border-top: none;
	color: black;
	padding: 20px;

}
.ftext{
	color:black;
}


.qbtn{
	background: none;
    border: 1px solid #bbbbbb;
    padding: 5px 10px;
}

.pbtn{
	background: #000;
    border: 1px solid #bbbbbb;
    padding: 10px 10px;
    width: 100%;
    color:#fff;
}

.size{
	background: none;
    border: 1px solid #bbbbbb;
    padding: 10px 10px;
}


#top-cart.top-cart-open .top-cart-content {

    width: 500px !important;
}

.minicartimg{
	width: 50px;
	height: 50px;
}


#primary-menu.style-2 > div > ul > li > a {
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 100;
    text-align: center;
}


